:root {
    --bg-color: #1B1B1B;
    --main-content-bg: #1B1B1B;
    --details-bg: #282828;
    --sidebar-bg: #282828;
    --item-bg: #282828;
    --text-color: white;
    --secondary-text-color: #b4b4b4;
    --search-focus-bg: #3a3a3a;
    --green-accent: #00FF88;
    --secondary-bg-color: white;
    --secondary-text-color-p: #282828;
    --unavailable-bg-color: #949494;
    --unavailable-text-color: #1B1B1B;

    --desktop-padding: 1.5rem;
    --desktop-details-width: 500px;
    --apps-list-shift: calc(var(--desktop-details-width) + 35px + 35px);
}
.theme-white {
    --bg-color: #F3F4F6;
    --main-content-bg: #F3F4F6;
    --details-bg: #d1d1d1;
    --sidebar-bg: #ffffff;
    --item-bg: #d1d1d1;
    --text-color: #282828;
    --secondary-text-color: #424242;
    --search-focus-bg: #c0c0c0;
    --secondary-bg-color: #ffffff;
    --secondary-text-color-p: #282828;
    --unavailable-bg-color: #949494;
    --unavailable-text-color: #ffffff;
}

.theme-black {
    --bg-color: #000000;
    --main-content-bg: #000000;
    --details-bg: #1A1A1A;
    --sidebar-bg: #1A1A1A;
    --item-bg: #1A1A1A;
    --text-color: white;
    --secondary-text-color: #888888;
    --search-focus-bg: #333333;
    --secondary-bg-color: white;
    --secondary-text-color-p: #1B1B1B;
    --unavailable-bg-color: #949494;
    --unavailable-text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    overflow: hidden; 
}

.desktop-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.desktop-main-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 var(--desktop-padding) 2rem; 
}

.desktop-header {
    margin-bottom: 12px;
    position: sticky;
    top: 0; 
    background: var(--main-content-bg);
    margin-left: calc(-1 * var(--desktop-padding));
    margin-right: calc(-1 * var(--desktop-padding));
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
    padding-top: 25px; 
    padding-bottom: 1rem;
    z-index: 5;
}

.desktop-header h1 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}


.filter-bar {
    display: flex;
    gap: 10px;
    align-items: center; 
}

.filter-button {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    background: var(--item-bg);
    color: var(--text-color);
    border: 2px solid transparent;
    padding: 15px 35px;
    border-radius: 30px;
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 0.9rem;
    flex-shrink: 0;
}

.filter-button.active {
    border: 2px solid var(--green-accent);
    font-weight: 800;
}

.filter-button[data-filter="all"] {
    margin-right: 15px;
    flex-shrink: 0;
    z-index: 10;
}


.desktop-search-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
    width: 50px; 
    height: 50px;
    background: var(--item-bg);
    padding-right: 10px;
    border-radius: 25px;
    transition: width 0.2s ease, background 0.2s ease, flex-grow 0.2s ease; 
    flex-shrink: 0; 
    flex-direction: row-reverse; 
}

.desktop-search-wrapper.active {
    flex-grow: 1;
    width: auto; 
    background: var(--item-bg);
}

#desktopSearchInput {
    flex-grow: 2;
    height: 100%;
    padding: 10px 18px 10px 18px; 
    border: none;
    background: transparent;
    color: var(--text-color);
    font-family: "Unbounded", sans-serif;
    font-size: 0.9rem;
    outline: none;
    opacity: 0;
}

.desktop-search-wrapper.active #desktopSearchInput {
    opacity: 1;
}

.desktop-search-trigger {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer; 
    display: flex;
    align-items: center;
    transition: background 0.2s ease; 
}

.desktop-search-trigger .search-icon {
    width: 30px;
    height: 30px;
}

.apps-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 1rem;
    transition: padding-right 0.5s ease; 
}

.apps-list.panel-open {
    padding-right: var(--apps-list-shift);
}

.app-item {
    background: var(--item-bg);
    font-family: "Special Gothic Expanded One", sans-serif;
    padding: 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.2s ease; 
    border: 2px solid transparent;
    letter-spacing: 2.5px;
}

.app-item:hover {
    border-color: rgba(255, 255, 255, 0.3);
}

.app-item.selected {
    border: 2px solid var(--green-accent);
}

.app-icon {
    width: 70px;
    height: 70px;
}

.app-icon img {
    border-radius: 10px;
}

.app-info h3 {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    margin-top: 1.2rem;
}

.app-info p {
    font-family: "Unbounded", sans-serif;
    background: var(--secondary-bg-color);
    color: var(--secondary-text-color-p);
    border-radius: 32px;
    padding: 8px 20px;
    font-size: 0.9rem;
    display: inline-block;
}

.desktop-details-panel {
    position: fixed;
    right: 35px; 
    bottom: 15px; 
    top: calc(var(--desktop-padding) + 80px); 
    width: var(--desktop-details-width); 
    height: calc(100vh - 110px - var(--desktop-padding)); 
    background: var(--item-bg);
    flex-shrink: 0;
    padding: var(--desktop-padding);
    overflow-y: auto;
    border-radius: 30px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transform: translateX(calc(var(--desktop-details-width) + 35px)); 
    transition: transform 0.5s ease;
}

.desktop-details-panel.active {
    transform: translateX(0);
}

.desktop-details-panel .details-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-details-panel .app-banner {
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    overflow: hidden;
}

.desktop-details-panel .app-banner img {
    width: 100%;
    height: auto;
    display: block;
}

.desktop-details-panel .app-name {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 2rem;
    margin: 10px 0;
    text-align: center;
}

.desktop-details-panel .app-description {
    font-family: "Unbounded", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 2rem;
}

.timer-button {
    padding: 12px 30px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--secondary-text-color-p);
    background: var(--secondary-bg-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    min-width: 200px;
    margin-bottom: 1rem;
}

.timer-button.unavailable {
    background: var(--unavailable-bg-color);
    color: var(--unavailable-text-color);
    cursor: default;
}

.desktop-theme-switch {
    position: fixed;
    bottom: 0px; 
    left: 20px;  
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 0; 
    background: transparent;
    padding: 20px 10px;
    border-radius: 10px;
    z-index: 100;
}

.theme-row {
    display: flex;
    gap: 10px; 
}

.color-palette-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    padding: 0;
}

.white-color { background-color: #ffffff; }
.grey-color { background-color: #1B1B1B; }
.black-color { background-color: #000000; }

.color-palette-item:hover { transform: scale(1.1); }

.color-palette-item.active {
    border: 2px solid var(--green-accent);
    transform: scale(1.2);
}